In [5]:
# conditional startements( if condition true it will work if false it wont)

# if(condition) statement

 


age=int(input("enter the user age : "))
if(age<18):
    print("minor")
if(age==18):
    print( " just become an adult")
if(age>18):
    print( " adult")

enter the user age :  23

 adult

In [1]:
age =int(input("enter the age : "))
age=18
if(age == 18):
    print("adult")
    # if statement is a single condition
    # ==is comparing ok for examamle the upper code
    # name error comes in 2 ways only one is spelling mistake and other is variable is not defined

enter the age :  34

adult

In [2]:
# if else statement

if():
    # this condition is proved print statemnet will work
    print()
else:
    # if statement is worng else part start work this else part has no conditions 
    
    age = int(input("enter the user age:"))

enter the user age: 45

In [3]:
# age < 18 is children age >18 is all adults
if age<18:
    print("children")
else:
    print("adult")

    # unga logic correct aa lialua nu compiler la execue panrathu befor u need to excecte in note first its very important

adult

In [4]:
# if elif statement(multiple lines )

if():
    print()
elif():
    print()
elif():
     print()
else:
    print()

In [5]:
"""age <18-->children
age<35-->aduts
age<59-->citizen
age>59-->senior citizen """

'age <18-->children\nage<35-->aduts\nage<59-->citizen\nage>59-->senior citizen '

In [2]:
age=int(input("enter the user age:"))
if age<18:
    print("children")
elif(age<35):
    print("adults")
elif(age<59):
    print("citizen")
else:
    print("senior citizen")

enter the user age: 23

adults

In [8]:
 """ if u want to check single input in multiple conditions means then only wee need to go to if family


single condition -->if statement
two condition --> if else
more then 2 condition-->if elif """

' if u want to check single input in multiple conditions means then only wee need to go to if family\n\n\nsingle condition -->if statement\ntwo condition --> if else\nmore then 2 condition-->if elif '

In [ ]:
# tell to mam your way of if statements approach is right or wrong ok cool

In [3]:
list=[23,45,67,34,89]

In [4]:
# for loop

# multiple inputs one condition
for temp in list:
    print(temp)

23
45
67
34
89

In [5]:
for age in list:
    if age<18:
       print("children")
    elif(age<35):
       print("adults")
    elif(age<59):
       print("citizen")
    else:
      print("senior citizen")
# multiple inputs one set of procedure la condition mudiyura virikum loop la podanum
# if statement single inputs aa multiple condition la check panitu varanum

adults
citizen
senior citizen
adults
senior citizen

In [ ]:
# extra hands on if statements and for loops

In [10]:
# find odd or even

num=int(input("enter the number:"))
if(num%2==0):
    print("even number")
else:
    print("odd number")

    # mam now this problem mam give the hint i write the code but i cant able to think logicall and write my code mam

# doubt ( actually what is logic )

enter the number: 21

odd number

In [12]:
# range

range(0,10)
#(start,stop,step)

range(0, 10)

In [16]:

for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [2]:
for num in range(20,30,2):
    print(num)

20
22
24
26
28

In [13]:
num=int(input("enter the number :"))
if (num%2==0):
    print("even")
else:
    print("odd

enter the number : 45

odd

In [33]:
""" Print each letter in the word "PYTHON" on a new line.
3️⃣ Find the sum of numbers in a list [10, 20, 30, 40, 50] using a for loop. """

' Print each letter in the word "PYTHON" on a new line.\n3️⃣ Find the sum of numbers in a list [10, 20, 30, 40, 50] using a for loop. '

In [37]:
list=[10,20,30,40,50]
for temp in list:
    print(temp)

10
20
30
40
50