In [1]:

# extra assignment 1

# 1. print statement

print("HOPE AI")

HOPE AI

In [2]:
# 2. buy input

institute_name=input("enter the institut name : " )

enter the institut name :  HOPE AI

In [3]:
3. #3 buy inputs 
name =input("enter the name :")
age=int(input("enter the user age : "))
school_name=input("enter the school name : ")
degree=input(" enter the degree : " )

enter the name : santhosh kumar
enter the user age :  20
enter the school name :  srm
 enter the degree :  cse ai

In [4]:
#  4 . addition
num1=43
print( "enter the number 1 : ",num1)
num2=34
print("enter the number 2 : ",num2)
print("the addition of two numbers : ",num1+num2)

enter the number 1 :  43
enter the number 2 :  34
the addition of two numbers :  77

In [5]:
# 5. substraction 

num1=43
print( "enter the number 1 : ",num1)
num2=34
print("enter the number 2 : ",num2)
print("the substraction of two numbers : ",num1-num2)

enter the number 1 :  43
enter the number 2 :  34
the substraction of two numbers :  9

In [6]:
#6. multiplication

num1=63
print( "enter the number 1 : ",num1)
num2=97
print("enter the number 2 : ",num2)
print("the multiplication of two numbers : ",num1*num2)

enter the number 1 :  63
enter the number 2 :  97
the multiplication of two numbers :  6111

In [7]:
#7 division

num1=76
print( "enter the number 1 : ",num1)
num2=31
print("enter the number 2 : ",num2)
print("the division of two numbers : ",num1/num2)

enter the number 1 :  76
enter the number 2 :  31
the division of two numbers :  2.4516129032258065

In [8]:
# 8. floor division

num1=76
print( "enter the number 1 : ",num1)
num2=31
print("enter the number 2 : ",num2)
print("the division of two numbers : ",num1//num2)

enter the number 1 :  76
enter the number 2 :  31
the division of two numbers :  2

In [9]:
# 9. module

In [10]:
# 10. power 
num1=4
print( "enter the number 1 : ",num1)
num2=4
print("enter the number 2 : ",num2)
print("the division of two numbers : ",num1**num2)

enter the number 1 :  4
enter the number 2 :  4
the division of two numbers :  256